<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Prodismo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="../images/Logo_Prodismo.ico">
        <title>Seguridad de la Información como Compromiso Estratégico</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet"  type="text/css" href="../css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    </head>

    <body class="text-gray-800">

        <header class="bg-white shadow-md sticky top-0 z-10">
            <div class="container mx-auto px-6 py-4 flex items-center justify-between">
                <img src="../images/ITProdimo_logo.png" alt="Logo Prodismo" width="200" height="40">
                
                <h1 class="text-2xl font-bold text-[#00446A] text-center flex-grow mx-4">
                    Seguridad de la Información: Un Compromiso Estratégico
                </h1>
                
            </div>
        </header>

        <div class="main-content">
            <div id="quiz-container" class="container-quiz mx-auto" >
                <!-- Formulario Inicial -->
                <div id="personal-form" class="space-y-6">
                    <h1 class="text-3xl font-bold text-center text-gray-800">Examen de Uso Responsable de Equipos</h1>
                    <p class="text-center text-gray-600">Por favor, complete sus datos personales para comenzar la evaluación.</p>
                    <form id="quiz-form" class="space-y-4">
                        <div>
                            <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
                            <input type="text" id="name" name="name" autocomplete="on" required class="mt-1 block w-full border-gray-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        </div>
                        <div>
                            <label for="surname" class="block text-sm font-medium text-gray-700">Apellido</label>
                            <input type="text" id="surname" name="surname" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        </div>
                        <div>
                            <label for="employeeId" class="block text-sm font-medium text-gray-700">Número de Legajo</label>
                            <input type="number" id="employeeId" name="employeeId" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        </div>
                        <div>
                            <label for="corporateEmail" class="block text-sm font-medium text-gray-700">Mail Corporativo</label>
                            <input type="email" id="corporateEmail" name="corporateEmail" required class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        </div>
                        <div class="flex justify-center mt-6">
                            <button type="submit" class="btn btn-primary w-full">Comenzar Examen</button>
                        </div>
                    </form>
                </div>
    
                <!-- Contenedor del Examen (inicialmente oculto) -->
                <div id="quiz-content" class="hidden">
                    <div class="mb-6">
                        <h2 id="question-text" class="text-xl font-semibold text-gray-800"></h2>
                    </div>
                    <div id="options-container" class="space-y-2">
                        <!-- Las opciones se renderizarán aquí -->
                    </div>
                    <div class="flex justify-between mt-8">
                        <button id="prev-btn" class="btn btn-secondary" style="display: none;">Anterior</button>
                        <button id="next-btn" class="btn btn-primary ml-auto" style="display: none;">Siguiente</button>
                    </div>
                </div>
    
                <!-- Contenedor de Resultados (inicialmente oculto) -->
                <div id="results-container" class="hidden">
                    <h2 class="text-3xl font-bold text-gray-800 mb-4">Resultado del Examen</h2>
                    <div class="text-gray-600 mb-6">
                        <p>Hola, <span id="final-name" class="font-bold"></span>.</p>
                        <p>Has completado el examen de Uso Responsable de Equipos.</p>
                    </div>
                    <p class="text-xl font-semibold text-gray-700">Tu puntaje es:</p>
                    <p id="score-display" class="result-score"></p>
                    <p id="percentage-display" class="text-lg font-semibold text-gray-700 mt-2"></p>
                    <div class="mt-8">
                        <button id="download-pdf-btn" class="btn btn-primary">Descargar PDF</button>
                </div>
        </div>
            </div>
        </div>

        <footer class="text-center py-6 mt-12 bg-blue-900">
            <div class="container mx-auto flex flex-col sm:flex-row items-center justify-center gap-2">
                <p class="text-gray-100">Estratégia de Seguridad de la Información &copy; 2025 - Developed by Germán C. Montalbetti for</p>
                <img src='../images/logo01-bco.png' title="Logo Prodismo" width="140" height="38">
            </div>
        </footer>

        <script type="text/javascript" src="../js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    </body>
</html>
